.header {
    padding: 1.5rem 1rem;
    background-color: var(--soft-pink);
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    max-width: 25.25rem;
}

.header a {
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: var(--motion);
}

.header a:hover {
    text-decoration: none;
    color: var(--cream);
}

.header a.active {
    color: var(--pink);
}